@model IEnumerable<AnindaKapinda.Models.Address>

@{
    ViewData["Title"] = "Addresses";
}

@if (ViewBag.Message != null)
{
    <h6 style="color:red">@ViewBag.Message</h6>
}
<br />
<hr />



<div class="row">
    <div class="col-md-3">
        @Html.Partial("_menuPartial")
    </div>
    <div class="col-md-9">
        <p>
            <a asp-action="AddAddress" class="btn btn-primary">Yeni Adres Ekle</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Adres Tarifi")
                    </th>
                    <th>
                        @Html.DisplayName("Şehir")
                    </th>
                    <th>
                        @Html.DisplayName("İlçe")
                    </th>
                    <th>
                        @Html.DisplayName("Aktif Adres")
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddressField)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.District)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            <a asp-action="EditAddress" asp-route-id="@item.AddressId" class="btn btn-primary">Düzenle</a>
                        </td>
                        <td>
                            <a asp-action="DeleteAddress" asp-route-id="@item.AddressId" class="btn btn-danger">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>